@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto';
}


.header {
  background-color: #1FBD8A;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
}

.header__nav {
  height: 71px;
  display: flex;
  box-shadow: 0px 5.69882px 9.49804px rgba(19, 40, 29, 0.098);
}

.container {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  gap: 48px;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 45px;
  align-items: center;

}

.header__link {
  color: white;
  font-size: 15px;

}

.header__right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.btn {
  padding: 10px 36px;
  color: #24475B;
  font-size: 15px;
  background-color: #fff;
  border-radius: 50px;
}

/* header finished */
/* main starts */

.intro {
  background-color: #1FBD8A;
  height: 1172px;
  position: relative;
  display: flex;
  align-items: center;
}

.intro__img {
  position: absolute;
  width: 975px;
  height: 750px;
  right: 0;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  top: 100px;

}

.intro__img>div {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.intro__img>div:nth-of-type(2) {
  align-items: flex-start;
  height: 100%;
}

.intro__image-loc {
  position: absolute;
  bottom: -30%;
}

.intro__image-categ {
  position: absolute;
  top: 40%;
}

.intro__img-code {
  position: absolute;
  top: 5%;
}

.intro__content {
  width: 555px;
height: 692px;
}

.intro__subtitle {
  font-size: 15px;
  color: white;
  padding: 9px 15px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 33px;
  width: max-content;
}

.intro__title{
  color: white;
  font-size: 60px;
  margin-top: 17px;
  margin-bottom: 10px;
}

.intro__text{
  color: white;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 44px;
}
.btn-li{
  font-weight: 400;
font-size: 15px;
color: #013A51; 
border-radius: 50px;
padding: 17px 96px;
background: white;
margin-left: 12px;
}
.select{
  max-width: 1130px; 
  height: 100px;
  position: absolute;
  left: 20.76%;
  right: 10.76%;
  top: 932px;
  background: #FBFCF5;
}
.img-rady{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sect-offset{
  background: #FBFCF5;
  height: 1147px;

}
.text-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
}
.text-api{
  font-weight: 400;
  font-size: 18px;
  color: #00CA90  ;
}
.text-time{
  font-weight: 400;
  font-size: 42px;
  color: #013A51  ;
  margin-top: 9px;
  margin-bottom: 13px;
}
.text-projects{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #013A51  ;
margin-bottom: 40px;
}
.link-intr{
  margin-bottom: 60px;
}
.btn-link{
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
background: #00CA90;
border-radius: 50px;
padding: 17px 58px;
}
.btn-let{
font-weight: 400;
font-size: 15px;
color: #FFFFFF; 
border-radius: 50px;
padding: 17px 96px;
background: #192F44;
margin-left: 12px;

}
.img-frame{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-works{
background: #F2F4E8;
height: 1162px;

}
.text-world{
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; 
  display: flex;
justify-content: space-between;

}
.text-more{
  padding-top: 150px;
}
.text-inistall{
  font-weight: 400;
  font-size: 18px;
  color: #00CA90  ;
}
.text-fort{
  font-weight: 400;
  font-size: 41px;
  line-height: 56px;
  color: #013A51  ;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-count{
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  color: #013A51  ;
  margin-bottom: 20px;
}
.text-mor{
  font-weight: 400;
  font-size: 14px;
  border: 2px solid #00CA90;
border-radius: 50px;
padding: 7px 40px;
width: max-content;
}
.text-with{
  padding-top: 156px;
}
.text-macht{
  font-weight: 400;
  font-size: 23px;
  color: #013A51  ;
  margin-top: 10px;
  margin-bottom: 13px;
}
.text-clon{
  margin-top: 60px;
  margin-bottom: 60px;
}
.text-clov{
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #5C7782  ;
}
.sect-used{
height: 1860px;
background: #FBFCF5;

}
.text-cases{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
}
.text-use{
  font-weight: 400;
  font-size: 18px;
  color: #00CA90;
}
.text-every{
  font-weight: 400;
  font-size: 42px;
  color: #013A51;
  margin-top: 10px;
  margin-bottom: 11px;
}
.text-cloud{
  font-weight: 400;
  font-size: 18px;
  color: #013A51;
  line-height: 26px;
}
.text-btn-von{
  display: flex;
  align-items: center;
  gap: 31px;
  padding-top: 65px;
}
.main-content-cold{
  display: flex;
  gap: 133px;
  padding-top: 70px;
  margin-bottom: 105px;
}
.text-custom{
  font-weight: 400;
  font-size: 24px;
  color: #013A51;
}
.text-wor{
  font-weight: 400;
  font-size: 15px;
  color: #5C7782;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-what{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-zero{
  font-weight: 400;
  font-size: 32px;
  color: #013A51;
}
.text-industry{
  font-weight: 400;
  font-size: 18px;
    line-height: 26px;
    color: #013A51;
    margin-top: 13px;
    margin-bottom: 34px;
}
.link-reach{
 font-weight: 400;
 font-size: 15px;
 background: #192F44;
border-radius: 50px;
padding: 17px 89px;
}
.contact-can{
  color: white;
}
.main-select{
  background: #0A2540;
  height: 685px; 
}
.main-card{
  display: flex;
  justify-content: space-between;
}
.text-restful{
  padding-top: 156px;
}
.img-keys{
  padding-top: 150px;
}
.text-title-for{
  font-weight: 400;
  font-size: 18px;
  color: #00CA90;
}
.text-free{
  font-weight: 400;
  font-size: 42px;
  color: #FFFFFF;
  margin-top: 9px;
  margin-bottom: 12px;
}
.text-time{
  font-weight: 400;
  font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 12px;
    margin-bottom: 48px;
}
.link-get{
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
background: #00CA90;
border-radius: 50px;
padding: 17px 84px;
}
.link-developer{
  font-weight: 400;
  font-size: 15px;
  color: #013A51;
  background: #FFFFFF;
border-radius: 50px;
padding: 17px 74px;
margin-left: 24px;
}